@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply bg-[#EF0A15] px-3 text-white font-bold rounded-md
    }
}

@font-face {
    font-family: "Roboto-bold";
    src: url("./assets/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-regular";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}
